    <div ng-app="SlideShow">
          <div ng-controller="PagesController">
            <div class = "container" style="width: 700px; height: 700px;">
              <carousel interval="inter" no-wrap="noWrapSlides">
                <slide ng-repeat="slide in slides" active="slide.active">
                <a href="#summary">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
                </a>
                </slide>
              </carousel>
            </div>
          </div>
          <h3 class="text-center">BroadWay</h3>
          <p class="text-center">A simple static rails site that shows a main page.</p>
          <a href=""><h4 class="text-center">BroadWay</h4></a>
          <h3 class="text-center">BoltNetwork</h3>
          <p class="text-center">Two static rails web pages a main and a About page.</p>
          <a href=""><h4 class="text-center">BoltNetwork</h4></a>
          <h3 class="text-center">Innovation Cloud</h3>
          <p class="text-center">A main page that takes in emails and stores them in a database. 
              When a user enters an email it takes them to a thank you page.</p>
          <a href=""><h4 class="text-center">Innovation Cloud</h4></a>
          <a name="summary"></a>            
          <h3 class="text-center">Threadly</h3>
          <p class="text-center">This rails site takes user input and stores it in a database. The site shows previous user input on the website.</p>
          <a href=""><h4 class="text-center">Threadly</h4></a>
          <h3 class="text-center">Bookmarks</h3>
          <p class="text-center">A rails site that takes database entires and produces them on the site.</p>
          <a href=""><h4 class="text-center">BookMarks</h4></a>
          <h3 class="text-center">Bass Music</h3>
          <p class="text-center">A rails site that has a database of music Albums and a main page that retrives them. There is also a details page that lists the songs an each album which is also included in the database.</p>
          <a href=""><h4 class="text-center">Bass Music</h4></a>
    </div>