<html ng-app>
<head>
    <style>
        h2 {
            font-family: 'Roboto', sans-serif;
        }
        .btn-info {
            color: black;
        }
    </style>
</head>
    <main>
        <body style="background-image:url(subtle-vertical-stripes.png)">
            <div class="container-fluid">
                <div class="col-md-10">
                    <h2> Welcome to my little corner of the Internet! I am a budding Ruby and Rails developer with experience in Web development, Java and C.</h2>
                    <div class="col-md-offset-5" ng-controller="ButtonsCtrl">
                        <button type="button" class="btn btn-info btn-lg" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">My Projects</button>
                    </div>
                </div>
            </div>
        </body>
    </main>
</html>