<div ng-app="SlideShow">
    <div class = "container">
        <img src="me.jpg" class="img-circle center-block" style="width: 400px; height: 400px;">
    </div>
    <br>
    <section class="container">
        <h4 class=" well well-lg text-center">
            I have been interested in computing ever since my friends and I installed Linux on an Ipod back in high school. I have been using Linux for the past 8 years, I started on Arch and went all around the major distributions but I always came back to Arch. I just love the customizability of the distribution and of course the Arch wiki. I started learning Ruby on Rails this past June since I have been put on more web development at my day job which was either JSP/JSF or ASP web sites. I also dipped my toes in AngularJS which I found hard to follow at first be when I figured out how to make my "custom" HTML elements I was hooked. Outside of programming I enjoy hiking, watching classic horror movies and martial arts. I am currently training in Eskrima and Jeet Kun Do at Princeton Academy of Martial Arts.
        </h4>
        <br>
        <h3 class="text-center"><a href="#">Resume</a></h3>
    </section>
</div>