<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
    </head>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class = "navbar-header">
                    <span class="sr-only"> Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <a class="navbar-brand" href="#">Brian Battell</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Welcome <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Portfolio</a></li> 
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
<body style="background-image:url(subtle-vertical-stripes.png)">

<%= yield %>

</body>
<br>
<br>
<br>
<footer>
    <div class="container-fluid">
        <div class="col-md-9">
            <p class= "col-md-offset-5"> Brian Battell  <img style= "width: 12px; height: 12px;" src="copyrighted.svg" </img>  <a href="https://www.linkedin.com/pub/brian-battell/62/983/815"><img style= "width: 24px; height: 24px;"src="linkedin1.svg"</a></img>  <a href="https://github.com/BrianB86"><img style= "width: 24px; height: 24px;"src="socialnetwork180.svg" <a href="https://github.com/BrianB86"</a></img></p>
            <p class="col-md-offset-3">Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
        </div>
    </div>
</footer>
</html>